# Tell GitHub linguist tool to interpret Jupyter Notebooks as Python code
# so that repo landing page shows language statistics of package more accurately
*.ipynb linguist-language=Python
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
