# Python packages and versions used in development environment

alabaster==0.7.10
angles==2.0
appdirs==1.4.3
arrow==0.10.0
asn1crypto==0.22.0
attrs==16.3.0
Babel==2.5.0
basemap==1.0.7
beautifulsoup4==4.6.0
bkcharts==0.2
bokeh==0.12.7
Bottleneck==1.2.1
cached-property==1.3.1
certifi==2016.2.28
cffi==1.10.0
circus==0.14.0
cliff==2.8.0
cloudpickle==0.4.0
cmd2==0.7.7
cmocean==1.1
coverage==4.4.1
cryptography==1.8.1
cycler==0.10.0
dask==0.15.2
defusedxml==0.5.0
docutils==0.14
driftwood==1.1.21
feedgen==0.6.1
idna==2.6
imagesize==0.7.1
iowait==0.2
isodate==0.6.0
Jinja2==2.9.6
locket==0.2.0
lxml==4.1.0
Mako==1.0.6
MarkupSafe==1.0
matplotlib==1.5.3
-e NEMO-Cmd==1.3.dev0
-e NEMO-Nowcast==1.4
netCDF4==1.2.4
numpy==1.11.3
olefile==0.44
packaging==16.8
pandas==0.20.1
paramiko==2.1.2
partd==0.3.8
pbr==3.1.1
Pillow==4.2.1
prettytable==0.7.2
psutil==5.2.2
py==1.4.34
pyasn1==0.2.3
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
pyperclip==1.5.27
pytest==3.2.1
python-dateutil==2.6.1
python-hglib==2.4
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
raven==6.3.0
requests==2.14.2
requests-toolbelt==0.8.0
retrying==1.3.3
-e SalishSeaCmd==3.4.dev0
-e SalishSeaNowcast==3.3.dev0
-e SalishSeaTools==2.0
schedule==0.4.2
scipy==0.19.0
scour==0.36
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
stevedore==1.27.1
toolz==0.8.2
tornado==4.5.2
xarray==0.9.6
yapf==0.20.0
zeep==2.4.0
