# Python packages and versions used in development environment

alabaster==0.7.10
angles==2.0
arrow==0.10.0
asn1crypto==0.22.0
attrs==16.3.0
Babel==2.5.0
basemap==1.0.7
beautifulsoup4==4.6.0
bkcharts==0.2
bokeh==0.12.9
Bottleneck==1.2.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
chest==0.2.3
circus==0.14.0
click==6.7
cliff==2.8.0
cloudpickle==0.4.0
cmd2==0.7.7
cmocean==1.1
contextlib2==0.5.5
coverage==4.4.1
cryptography==2.0.3
cycler==0.10.0
dask==0.15.3
distributed==1.19.1
docutils==0.14
driftwood==1.1.21
feedgen==0.5.1
heapdict==1.0.0
idna==2.6
imagesize==0.7.1
iowait==0.2
Jinja2==2.9.6
locket==0.2.0
lxml==3.8.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==1.5.3
msgpack-python==0.4.8
-e NEMO-Cmd==0.9
-e NEMO-Nowcast==1.4
netCDF4==1.3.0
numpy==1.11.3
olefile==0.44
packaging==16.8
pandas==0.20.3
paramiko==2.1.2
partd==0.3.8
pbr==3.1.1
Pillow==4.2.1
prettytable==0.7.2
psutil==5.3.1
py==1.4.34
pyasn1==0.2.3
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
pyperclip==1.5.27
PySocks==1.6.7
pytest==3.2.1
python-dateutil==2.6.1
python-hglib==2.4
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
raven==6.2.1
requests==2.18.4
retrying==1.3.3
-e SalishSeaCmd==3.4.dev0
-e SalishSeaNowcast==3.3.dev0
-e SalishSeaTools==2.0
schedule==0.4.2
scipy==0.19.0
scour==0.36
six==1.10.0
snowballstemmer==1.2.1
sortedcontainers==1.5.7
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
stevedore==1.27.0
tblib==1.3.2
toolz==0.8.2
tornado==4.5.2
typing==3.6.2
urllib3==1.22
xarray==0.9.6
yapf==0.18.0
zict==0.1.3
