# Python packages and versions used in development environment

arrow==0.8.0
attrs==16.0.0
certifi==2016.8.31
circus==0.13.0
contextlib2==0.5.4
iowait==0.2
-e NEMO-Nowcast==1.1
psutil==4.3.0
python-dateutil==2.5.3
PyYAML==3.11
pyzmq==15.4.0
raven==5.27.1
requests==2.11.1
-e SalishSeaNowcast==3.0.dev0
schedule==0.3.2
six==1.10.0
tornado==4.4.1
