# conda environment description file for docs build environment
# on readthedocs.org

name: sphinx-build

channels:
  - conda-forge
  - nodefaults

dependencies:
  - cartopy
  - matplotlib
  - pip
  - python=3.10
  - retrying

  # RTD packages
  - mock
  - pillow
  - sphinx
  - sphinx_rtd_theme=1.2
  - sphinx-notfound-page

  - pip:
    # Install NEMO_Nowcast and SalishSeaNowcast packages in editable mode
    - --editable git+https://github.com/43ravens/NEMO_Nowcast.git#egg=NEMO_Nowcast
    - --editable ../
