# conda environment description file for SalishSeaNowcast package testing environment
#
# Creates a conda environment in which the SalishSeaNowcast package unit tests and
# coverage analysis can be run.
# Primarily intended for creation of a conda env for use in a GitHub Actions workflow.

name: salishsea-nowcast-test

channels:
  - conda-forge
  - nodefaults

dependencies:
  - arrow
  - attrs
  - beautifulsoup4
  - bottleneck
  - cartopy
  - cfgrib
  - click
  - cliff
  - cmocean
  - coloredlogs
  - dask
  - docutils
  - f90nml
  - feedgen>=0.9.0
  - flox
  - geopandas
  - gitpython
  - gsw
  - httpx
  - lxml
  - mako
  - matplotlib
  - nc-time-axis
  - netcdf4
  - numpy
  - numpy-indexed
  - pandas
  - paramiko
  - pillow
  - pip
  - poppler
  - pygrib
  - pypdf2
  - pyproj
  - pytables
  - pyyaml
  - pyzmq
  - rasterio
  - requests
  - retrying
  - rich
  - schedule
  - scipy
  - scour
  - sentry-sdk
  - shapely
  - structlog
  - supervisor
  - tenacity
  - utm
  - verboselogs
  - watchdog
  - xarray

  # For unit tests and coverage monitoring
  - pytest
  - pytest-cov
  - pytest-httpx
  - pytest-randomly
  - tomli

  - pip:
    - angles
    - python-hglib
    - sysrsync
