# conda environment description file for SalishSeaNowcast package testing environment
#
# Creates a conda environment in which the SalishSeaNowcast package unit tests and
# coverage analysis can be run.
# Primarily intended for creation of a conda env for use in a GitHub Actions workflow.

name: salishsea-nowcast-test

channels:
  - conda-forge
  - nodefaults

dependencies:
  - arrow
  - attrs
  - beautifulsoup4
  - bottleneck
  - cartopy
  - cfgrib
  - click
  - cliff
  - cmocean
  - coloredlogs
  - dask
  - docutils
  - erddapy
  - et_xmlfile
  - f90nml
  - feedgen
  - flox
  - gitpython
  - gsw
  - httpx
  - lxml
  - mako
  - matplotlib
  - nc-time-axis
  - netcdf4
  - numpy
  - numpy-indexed
  - openpyxl
  - pandas
  - paramiko
  - pillow
  - pip
  - poppler
  - pygrib
  - pypdf
  - pyyaml
  - pyzmq
  - requests
  - retrying
  - rich
  - schedule
  - scipy
  - scour
  - sentry-sdk
  - structlog
  - supervisor
  - tenacity
  - tqdm
  - verboselogs
  - watchdog
  - xarray

  # For unit tests and coverage monitoring
  - pytest
  - pytest-cov
  - pytest-httpx
  - pytest-randomly
  - tomli

  - pip:
    - angles
    - python-hglib
    - sysrsync
