# conda environment description file for SalishSeaNowcast docs Sphinx linkcheck
# environment
#
# Primarily intended for creation of a conda env for use by the GitHub Actions
# UBC-MOAD sphinx-linkcheck reusable workflow.

name: salishsea-nowcast-linkcheck

channels:
  - conda-forge
  - nodefaults

dependencies:
  - arrow
  - attrs
  - beautifulsoup4
  - bottleneck
  - cartopy
  - cfgrib
  - click
  - cliff
  - cmocean
  - coloredlogs
  - dask
  - docutils
  - et_xmlfile
  - f90nml
  - feedgen
  - flox
  - gitpython
  - gsw
  - httpx
  - h5netcdf
  - lxml
  - mako
  - matplotlib
  - nc-time-axis
  - netcdf4
  - numpy
  - numpy-indexed
  - openpyxl
  - pandas
  - paramiko
  - pillow
  - pip
  - poppler
  - pygrib
  - pypdf
  - pyyaml
  - pyzmq
  - requests
  - retrying
  - rich
  - schedule
  - scipy
  - scour
  - sentry-sdk
  - structlog
  - supervisor>=4.3.0
  - tenacity
  - tqdm
  - verboselogs
  - watchdog
  - xarray=2025.1.1

  # For documentation links checking
  - sphinx==8.1.3
  - sphinx-notfound-page==1.0.4
  - sphinx-rtd-theme==3.0.0

  - pip:
    - angles
    - python-hglib
    - sysrsync

    # Install MOAD-ish dependencies and SalishSeaNowcast package in editable mode
    - --editable git+https://github.com/43ravens/NEMO_Nowcast.git#egg=NEMO_Nowcast
    - --editable git+https://github.com/UBC-MOAD/moad_tools#egg=moad_tools
    - --editable git+https://github.com/UBC-MOAD/Reshapr#egg=Reshapr
    - --editable git+https://github.com/SalishSeaCast/NEMO-Cmd.git#egg=NEMO-Cmd
    - --editable git+https://github.com/SalishSeaCast/SalishSeaCmd.git#egg=SalishSeaCmd
    - --editable "git+https://github.com/SalishSeaCast/tools#egg=SalishSeaTools&subdirectory=SalishSeaTools"
    - --editable ../
