# conda environment description file for SalishSeaNowcast package
# production deployment environment
#
# Create a conda environment for production deployment
# of the SalishSeaCast system with:
#
#    $ conda env create -f SalishSeaNowcast/envs/environment-prod.yaml
#    $ conda activate nowcast-env
#    $ python -m pip install --editable NEMO_Nowcast/
#    $ python -m pip install --editable moad_tools/
#    $ python -m pip install --editable tools/SalishSeaTools/
#    $ python -m pip install --editable Reshapr/
#    $ python -m pip install --editable NEMO-Cmd/
#    $ python -m pip install --editable SalishSeaCmd/
#    $ python -m pip install --editable SalishSeaNowcast/

name: nowcast-env

channels:
  - conda-forge
  - nodefaults

dependencies:
  - arrow
  - attrs
  - beautifulsoup4
  - bottleneck
  - cartopy
  - cfgrib
  - click
  - cliff
  - cmocean
  - coloredlogs
  - dask
  - docutils
  - erddapy
  - et_xmlfile
  - f90nml
  - feedgen
  - flox
  - gitpython
  - gsw
  - h5netcdf
  - httpx
  - lxml
  - mako
  - matplotlib
  - nc-time-axis
  - netcdf4
  - numpy
  - numpy-indexed
  - openpyxl
  - pandas
  - paramiko
  - pillow
  - pip
  - poppler
  - pygrib
  - pypdf
  - python=3.13
  - pyyaml
  - pyzmq
  - requests
  - retrying
  - rich
  - schedule
  - scipy
  - scour
  - sentry-sdk
  - structlog
  - supervisor
  - tenacity
  - tqdm
  - verboselogs
  - watchdog
  - xarray

  - pip:
    - angles
    - python-hglib
    - sysrsync
