# conda environment description file for SalishSeaCast web site figures
# development environment
#
# Create a conda environment for website figures development and testing with:
#
#    $ conda env create -f SalishSeaNowcast/envs/environment-fig-dev.yaml
#    $ conda activate nowcast-fig-dev
#    $ python -m pip install --editable NEMO_Nowcast/
#    $ python -m pip install --editable moad_tools/
#    $ python -m pip install --editable Reshapr/
#    $ python -m pip install --editable tools/SalishSeaTools/
#    $ python -m pip install --editable NEMO-Cmd/
#    $ python -m pip install --editable SalishSeaCmd/
#    $ python -m pip install --editable SalishSeaNowcast/
#    $ python -m pip install --editable salishsea-site/

name: nowcast-fig-dev

channels:
  - conda-forge
  - nodefaults

dependencies:
  - arrow
  - beautifulsoup4
  - bottleneck
  - cartopy
  - cfgrib
  - cliff
  - cmocean
  - coloredlogs
  - dask
  - docutils
  - erddapy
  - et_xmlfile
  - gitpython
  - gsw
  - h5netcdf
  - httpx
  - lxml
  - mako
  - matplotlib
  - nc-time-axis
  - netcdf4
  - numpy
  - numpy-indexed
  - openpyxl
  - pandas
  - paramiko
  - pillow
  - pip
  - poppler
  - pygrib
  - pypdf
  - python=3.13
  - pyyaml
  - requests
  - scipy
  - sentry-sdk
  - tqdm
  - verboselogs
  - watchdog
  - xarray

  # For code style & repo QA
  - pre-commit

  # For figures development
  - jupyterlab
  - notebook

  # For documentation
  - sphinx==8.1.3
  - sphinx-notfound-page==1.0.4
  - sphinx-rtd-theme==3.0.0

  - pip:
    - angles
    - attrs
    - f90nml
    - feedgen
    - pyramid
    - pyramid_crow
    - pyramid_debugtoolbar
    - pyramid_mako
    - python-hglib
    - retrying
    - schedule
    - scour
    - supervisor
    - waitress
